# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Development
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git
.github
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Misc
.DS_Store
*.log
README.md

# Sentry
.sentryclirc
.env.sentry-build-plugin

# Testing
coverage
.nyc_output

# Kubernetes
k8s/