apiVersion: v1
kind: Service
metadata:
  name: saas-starter-app
  namespace: saas-starter
  labels:
    app: saas-starter-app
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: saas-starter-app